#header {
  background: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 23px;
  color: white;
}
.logo{
  font-weight: 600;
  font-size: 36px;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #333;
    text-align: center;
  }

  .nav-links li {
    padding: 10px 0;
  }

  .menu-toggle:checked~.nav-links {
    display: flex;
  }
}